doctype 5
html(ng-app="drillApp")
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://localhost:35729/livereload.js')
  body
    .container-fixed
      .row
        .col-sm-12.text-center.main-title
          h1 Code Drills
      .row
        .col-sm-4.col-sm-offset-4
          .row#langrow
            .col-sm-4.text-center.lang
              a(ng-href="/javascript") Javascript
            .col-sm-4.text-center.lang
              a(ng-href="/python") Python
            .col-sm-4.text-center.lang
              a(ng-href="/scala") Scala
      .space-10
      .row
        .col-sm-10.col-sm-offset-1
          section#bin(ng-view)

    script(type="text/ng-template",id="home.html")
      h2 Choose a language to start
      ul
        li
          a(ng-href="/javascript") Javascript
        li
          a(ng-href="/python") Python
        li
          a(ng-href="/scala") Scala

    script(type="text/ng-template",id="javascript.html")
      h2 Choose a category
      ul(ng-repeat="cat in categories")
        li
          a(ng-href="/javascript/p/{{cat.cat}}") {{cat.title}}

    script(type="text/ng-template",id="python.html")
      p Python is yet to come

    script(type="text/ng-template",id="scala.html")
      p Scala is yet to come

    script(type="text/ng-template",id="play.html")
      p Play

    script(src='components/jquery/dist/jquery.min.js')
    script(src='components/angular/angular.min.js')
    script(src='components/angular-route/angular-route.min.js')
    script(src='js/app.js')

