doctype 5
html(ng-app="drillApp")
  head
    meta(charset="utf-8")
    title Code Drills
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/highlightjs/styles/monokai_sublime.css')
    link(rel='stylesheet', href='/css/style.css')
    if env == 'development'
      script(src='http://localhost:35729/livereload.js')
  body
    .container-fixed
      .row
        .col-sm-12.text-center.main-title
          h1 
            a(ng-href="/") Code Drills
      .row
        .col-sm-4.col-sm-offset-4
          .row#langrow
            .col-sm-4.text-center.lang
              a(ng-href="/javascript") Javascript
            .col-sm-4.text-center.lang
              a(ng-href="/python") Python
            .col-sm-4.text-center.lang
              a(ng-href="/scala") Scala
      .space-10
      .row
        .col-sm-10.col-sm-offset-1
          section#bin(ng-view)

    script(type="text/ng-template",id="home.html")
      .topic-list
        h2 Choose a language to start
        ul
          li
            a(ng-href="/javascript") Javascript
          li
            a(ng-href="/python") Python
          li
            a(ng-href="/scala") Scala

    script(type="text/ng-template",id="javascript.html")
      .topic-list
        h2 Choose a category
        ul
          li(ng-repeat="cat in categories")
            a(ng-href="/javascript/p/{{cat.cat}}") {{cat.title}}

    script(type="text/ng-template",id="python.html")
      p.soon Coming soon!

    script(type="text/ng-template",id="scala.html")
      p.soon Coming soon!

    script(type="text/ng-template",id="play.html")
      #playground(ng-show="curSnippet")
        .row
          .col-sm-8.col-sm-offset-2
            ul#codeviewer
              li(ng-repeat="line in curSnippet")
                .codeline(hljs,source="line",language="{{lang}}",ng-class="{'currentline': $index==curLine}")
                
        .row
          .col-sm-8.col-sm-offset-2
            #codeinput
              input(ng-model="input",ng-keypress="onKeyPress($event)",autofocus)
      p.waiting(ng-show="!curSnippet && !comingsoon")
        | Loading...
      p.soon(ng-show="comingsoon")
        | Coming soon!

    script(src='/components/lodash/dist/lodash.min.js')
    script(src='/components/highlightjs/highlight.pack.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-route/angular-route.min.js')
    script(src='/components/angular-highlightjs/angular-highlightjs.min.js')
    script(src='/js/app.js')

