@import "../../public/components/lesshat/build/lesshat.less";

body {
  color: #999;
  background-color: #454547;
  font-size: 16px;
}

.container-fixed {
  margin: 0 auto;
  max-width: 970px;
}

a {
  color: #B6C3CE;

  &:hover {
    color: #96B3BE;
  }
}

.main-title {
  font-family: sans;

  a {
    color: #999;

    &:hover {
      color: #888;
    }
  }
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

#bin {
  min-height: 400px;
  margin-top: 40px;
  background-color: #2E3036;
  .border-radius(10px);
  .drop-shadow(1 1 2 #2d3036);
  padding: 10px 10px;

  a {
    color: #FA46A3;

    &:hover {
      color: #DA2693;
    }
  }
}

.space-10 {
  height: 10px;
}

#codeviewer {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 5px;
  background-color: #23241f;
  
  .codeline {
    
    pre {
      padding: 0;
      border: none;
      border-radius: 0;
      margin: 0;
      line-height: 120%;

      .hljs {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .currentline code {
    opacity: 0.9;
  }
}

#codeinput {
  input {
    width: 100%;
    color: black;
  }
}

.soon, .waiting {
  font-size: 20px;
  padding-top: 20%;
  text-align: center;
}

.topic-list {
  text-align: center;

  ul {
    margin-top: 20px;
    list-style-type: none;
    
    li {
      padding-bottom: 5px;
    }
  }
}

